<html>
    <head></head>
    <body>
        <h1>Add Student</h1>
        <form action="" method='post'>
            {% csrf_token %}
            name:<input type='text' name='name' value='{{fac.name}}'>
            subject:<input type='text' name='subject' value='{{fac.subject}}'>
            score:<input type='text' name='score' value='{{fac.score}}'>
            grade:<input type='text' name='grade' value='{{fac.grade}}'>
            pr_grade:<input type='text' name='pr_grade 'value='{{fac.pr_grade}}'>
            <input type='submit' value='add'>

    </body>

</html>